<body background="images/background1.jpg"></body>
<head>
        <center><h1>About Us</h1></center>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
        </head>
        <img src="images/housetwo.jpg" alt="Paris" style="width:50%;">
<div class="container"></div>
<div class="row">
    <center>
    <div class="col-sm-10">
    </div>
    <div class="col-sm-16">
        <p>Patel Real Estate is a company which sales magnificent and beautiful houses.  Patel Real Estate has been in the market since 25 years.  This agency is located at 9295 Dee Road, Des Plaines Illinois, 60016. The reason we are very special for our customers are, we take extra care of them, we understand their terms and conditions.  Patel Real Estate counts in the United States top 5 Real Estate companies.  Patel Real Estate has been awarded 3 times for their work. </p>
        <p>Our company's core values are Integrity, Respect, and Drive</p>
        <p>Customer prefers a company, which provides them a extra care, listens their issues, help them to solving the issues about budget or finance.  We also provides a Deals to the customers and also set up our prices based on customers terms and conditions. We also provides good cutomers service to our customers, as our agents are so intellignet and smart. Due to this, cutomers should contact Patel Real Estate and not other competitors.</p>
      </center>
    </div>
</div>
</div>