<body background="images/background2.jpg"></body>
<center>
    <div class="container">
        <div class="row">
        <div class="col-sm-10">
            <center><h1>Want to Join Real Estate Agent Team!</h1></center>
          <div class="col-sm-10"><img src="images/career.jpg" alt="" /></div>
          <br>
          <h4>Different Real Estate careers: Which one is right for you?</h4>
          <ul></ul>
              <table style="width:100%">
                <tr>
                  <th>Real Estate Loan Officer</th>
                  <th>Real Estate Consultant</th>
                  <th>Real Estate Marketing Specialist</th>
                  </tr>
                  <td>Real Estate Assistant</td>
                  <td>Easing Agent</td>
                  <td>Real Estate Appraiser</td>
                </tr>
                <tr>
                  <td>Real Estate Attorney</td>
                  <td>Property Manager</td>
                  <td>Real Estate Wholesaler</td>
                </tr>
                <tr>
                  <td>Real Estate Broker</td>
                  <td>Commercial Real Estate Agent</td>
                  <td>Residential Real Estate Agent</td>
                </tr>
                  <td>Home Inspector</td>
                  <td>Real Estate Developer</td>
                  <td>Real Estate Agent</td>
                </table>
                <p>
                  <p>
                      <p> If you want to learn more about Real Estate careers, please <a href="/contact">contact us to join! </a></p>
                </p>
        </div>
        </div>
        </div>
      </div>
          </div>
          </div>
          </div>
            </center>
    