<body background="images/background3.jpg"></body>
<div class="container">
  <div class="row">
      <div class="col-sm-10">
      </div>
      <center>
      <div class="col-sm-13">
        <h1>Reach out to us for more information!</h1>
      <img src="images/contact.jpg" alt="Paris" style="width:80%;">
        <p>Please! Enter your Email if you'd like to recieve offers on housing</p>
        <form class="subscription-form" action="/subscribe" method="post">
          <label for="name">Name</label>
          <input type="text" name="name" value="">
          <label for="email">Email</label>
          <input type="email" name="email" value="">
          <input class="button" type="submit" value="submit">
        </form>
        <p> We'll get back to you soon!</p>
        </center>
      </div>
      </div>
  </div>
</div>