<body background="images/background2.jpg"></body>
    <h2 style="text-align:center">Featured Properties </h2>
    
    <div class="row" style=" background: transparent; position: relative; left: -400px">
    <div class="card">
      <p>$2,5000,000</p>
      <hr>
      <p>9600 Golf Road 
          Des Plaines, IL 60016.</p>
      <img src="images/propertyone.jpg" alt="John" style="width:100%">
        <p>6 Beds</p>
        <p>6 | 3 Baths</p>
        <p>12, 572 sqft</p>
        <hr>
        <p>Live your dream and experience a true legacy in Bend Oregon where rustic lodge meets elegance</p>
      <p class="title"></p>
      <p></p>
      <div class="row1" style=" background: transparent; margin-top: -594px; margin-right: -740px"> 
      <div class="card">
        <p>$599,990</p>
        <hr>
        <p>2902 West Oak Street 
            Niles, IL 60023.</p>
        <img src="images/propertytwo.jpg" alt="John" style="width:100%; height:220px;">
          <p>4 Beds</p>
          <p>4 | 2 Baths</p>
          <p>2,515 sqft</p>
          <hr>
          <p>This beautiful single level home is ideal for simple and comfortable living.</p>
        <p class="title"></p>
        <p></p>

        <div class="row2" style=" background: transparent; margin-top: -584px; margin-right: -740px"> 
      <div class="card">
        <p>$10,645,899</p>
        <hr>
        <p>5400 Woodlane Road
            Chicago, IL 60233.</p>
        <img src="images/propertythree.jpg" alt="John" style="width:100%; height:204px; margin-top:16px;">
          <p>9 Beds</p>
          <p>10 Baths</p>
          <p>20,742 sqft</p>
          <hr>
          <p>Exquisite home features living rm w/soaring beams & FP, great rm, loft w/guest suite & sitting rm, 2.5 utility rms, den/office, brkfst nook, formal dining & temp controlled wine rm. </p>
        </div>
        </div>
        </div>
        </div>
        