<body background="images/background2.jpg"></body>
    <h2 style="text-align:center">Our Highly Recommended Agents:</h2>
    
    <div class="row">
    <div class="card" style="margin-left:-90px;">
      <img src="images/agentone.jpg" alt="John" style="width:50%">
      <h1>Tirth P</h1>
      <p class="title">Real Estate Agent</p>
      <p>Real Estate School of Illinois</p>
      <p><i style="font-size:24px" class="fa">&#xf095;</i>(224) 596-2955</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
      <div class="colums">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .checked {
          color: blue;
        }
        </style>
        </head>
        <body>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        </body>
        </div>
      <p><button>Contact</button></p>
    </div>
    <br>
    <div class="card" style="margin-left:-90px;">
      <img src="images/agenttwo.jpg" alt="John" style="width:50%">
      <h1>Nikunj S</h1>
      <p class="title">Real Estate Agent</p>
      <p>Kentucky Real Estate School</p>
      <p><i style="font-size:24px" class="fa">&#xf095;</i>(224) 596-3966</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
      <div class="colums">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .checked {
          color: blue;
        }
        </style>
        </head>
        <body>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        </body>
        </div>
      <p><button>Contact</button></p>
    </div>
    <br>
    <div class="card" style="margin-left:-90px;">
      <img src="images/agentthree.jpg" alt="John" style="width:50%">
      <h1>Darshna P</h1>
      <p class="title">Real Estate Agent</p>
      <p>Real Estate School of Illinois</p>
      <p><i style="font-size:24px" class="fa">&#xf095;</i>(224) 596-4699</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
      <div class="colums">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .checked {
          color: blue;
        }
        </style>
        </head>
        <body>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        </body>
        </div>
      <p><button>Contact</button></p>
    </div>
    <br>
    